<h3></i> Believe It Or Not</h3>
<div class="section">
    <p class="lead">Create public and private records of nearly unbelievable occurrances</p><i class="fas fa-book-reader"></i>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn green lighten-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>